<div class="map_box">
  <h3><strong><%= storehouse.name %></strong></h3>
  <p><%= storehouse.address %></p>
  <%= link_to "Details", storehouse_path(storehouse), target: :blank, class: "btn btn-map-box" %>
</div>
