<div class="main-container">
  <h1>Storehouses</h1>
  <div class="cards-container">
    <% @storehouses.order("name ASC").each do |storehouse| %>
      <div class="flexbox">
        <div class="storehouse-name"><%= storehouse.name %></div>
        <div class="storehouse-addresse"><%= storehouse.address %></div>
        <div class="storehouse-capacity"><%= storehouse.capacity %></div>
        <div class="storehouse-day-price"><%= storehouse.day_price %></div>
      </div>
    <% end %>
  </div>
  <div id="map">

  </div>
</div>
