// Import page-specific CSS files here.
@import "home";
@import "show";

.header-color {
  color: $orange;
}

.status-pending {
  color: $orange;
  font-weight: bold;
}

.status-declined {
  color: $red;
  font-weight: bold;
}

.status-accepted {
  color: $green;
  font-weight: bold;
}

.fa-times {
  color: $red;
  &:hover {
    color: $red;
  }
}

.fa-check {
  color: $green;
  &:hover {
    color: $green;
  }
}
