.show-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa {
  color: black;
  &:hover {
    color: $orange;
  }
}

#map {
  margin-bottom: 10px;
}

.show {
  h1 {
  margin-top: 13vh;
  }
}
