.show-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-flex-item-one {
  flex: 1 0 auto;
}
.show-flex-item {
  flex: 0 0 40%;
}

.fa {
  color: black;
  &:hover {
    color: $orange;
  }
}

#map {
  margin-bottom: 10px;
}

.show {
  h1 {
  margin-top: 13vh;
  }
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    text-decoration: line-through;
}

#reviews {
  margin-bottom: 20px;
  .container {
  padding-left: 15%;
  padding-right: 15%;
  }

  .td-rating {
  border-right: solid 1px gray;
  }
  .fa-star {
    color: $orange;
  }
}

.review-form {
  margin-bottom: 20px;
}
