#team {
  background-color: #E9E9E8;
  height: 100vh;
  padding-top: 80px;
}

.img-circle {
  height: 150px;
  width: 150px;
}

.profiles {
  display: flex;
  align-item: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 30px;
}
