
.main-container {
  display: flex;
}

.cards-container {
    display: flex;
    align-items: stretch; /* force items to take all flexbox height */
    flex-wrap: wrap;
    padding: 10px 0;
}

.card-index {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 500px;
  margin: 10px 20px;
  color: black;
  font-size: 16px;
  height: 100px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.4);
}

.container .card-index a:hover {
  text-decoration : none !important;
}

.card-index:hover {
  opacity: 0.8;
  color: $orange;
}

.storehouse-name {
  flex: 0 0 20%;
}

.storehouse-addresse {
  // flex: 0 0 auto;
  flex-grow: 1;
}

.storehouse-capacity {
  flex: 0 0 15%;
}

.storehouse-day-price {
  flex: 0 0 10%;
}

#map {
  flex: 0 0 550px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  margin-top: 20px;
}
