<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-info">
    <a href="#" class="footer-link">Legal notice</a>
    <a href="#" class="footer-link">About us</a>
    <a href="#" class="footer-link">Contact us</a>
  </div>
</div>
