<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-info">
    <%= link_to 'Legal mention', legal_mention_path, class: "footer-link" %>
    <%= link_to 'About us', about_us_path, class: "footer-link" %>
    <a href="mailto:contact@stockaway.com" class="footer-link">Contact us</a>
  </div>
</div>

