<div id="team">
  <div class="about-content text-center">
    <h1>This Airbnb clone was built with <i class="fa fa-heart"></i> by</h1>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/adrienomont" class="img-circle" alt="Adrien Omont" />
        <h3>Adrien Omont</h3>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/baphorn" class="img-circle" alt="Baptiste Horn" />
        <h3>Baptiste Horn</h3>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/barangerbenjamin" class="img-circle" alt="Benjamin Baranger" />
        <h3>Benjamin Baranger</h3>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/k0p0" class="img-circle" alt="Olivier Bellier" />
        <h3>Olivier Bellier</h3>
      </div>
  </div>
</div>
