<div id="team">
  <div class="about-content text-center">
    <h1>This Airbnb clone was built with <i class="fa fa-heart"></i> by</h1>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/adrienomont" class="img-circle" alt="Adrien Omont" />
        <h3>Adrien Omont</h3>
        <p>Worked in a logistic company in Paris.
          Wanted to join smaller companies and learn how to code.
          I also have a project in mind and LeWagon might help me.</p>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/baphorn" class="img-circle" alt="Baptiste Horn" />
        <h3>Baptiste Horn</h3>
        <p>I am a facilitator and an event organiser in Oxford. I want to meet people, join a team and start an amazing project.
          Always free for a coffee or a beer with new faces :)</p>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/barangerbenjamin" class="img-circle" alt="Benjamin Baranger" />
        <h3>Benjamin Baranger</h3>
        <p>Production integrator. Want to go on the other side of the mirror.
          Moving to London in early September, trying to land my first job as a junior web developer.</p>
      </div>
      <div class="stat col-xs-12 col-sm-6 col-md-3">
        <img src="https://kitt.lewagon.com/placeholder/users/k0p0" class="img-circle" alt="Olivier Bellier" />
        <h3>Olivier Bellier</h3>
        <p>Sysadmin at lemonde.fr then sysadmin at leparisien.fr</p>
      </div>
  </div>
</div>
