<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.chicagonow.com/small-biz-blog/files/2017/05/warehouse.jpg');">
  <div class="banner-content">
    <h1>Stock Away</h1>
    <p>Maximise your warehouse</p>
    <%= link_to 'See our warehouses', storehouses_path, class: "btn btn-medium btn-lg" %>
  </div>
</div>

  <div class="text-center">
    <div class="stats-home">
      <div class="title row">
        <h2>Why choose us ?</h2>
      </div>
        <div class="row stats">
        <div class="stat">
          <i class="fa fa-globe icon"></i>
          <h3><%= Storehouse.count %> warehouses</h3>
       </div>
        <div class="stat">
          <i class="fa fa-expand icon"></i>
          <h3><%= Storehouse.sum("capacity") %> m&sup3; availables</h3>
       </div>
        <div class="stat">
          <i class="fa fa-eur icon"></i>
          <h3>around €<%= Storehouse.average("day_price").round %>/day </h3>
       </div>
       </div>
    </div>

  <div class="customers-home">
    <div class="title row">
      <h2>They work with us: </h2>
    </div>
    <div class="customers">
      <ul class="list-unstyled list-inline">
        <li><img alt="XPO" src="http://static8.viadeo-static.com/DspifiOVivV0h_mI31CGi5wK7fo=/fit-in/200x200/filters:fill(white)/ecdd948b5e9a4fd69b53cbaf81c92ebe/image.png" class="customer-img" /></li>
        <li><img alt="Bolloré" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Bollore_Logistics_Logo.png/1200px-Bollore_Logistics_Logo.png" class="customer-img"/></li>
        <li><img alt="DHL" src="https://www.tl-hub.be/uploads/public/company/logos/588b0e974b6d4.jpg" class="customer-img" /></li>
        <li><img alt="DB Schenker" src="http://clg-de-la-foret-trainou.tice.ac-orleans-tours.fr/eva//sites/clg-de-la-foret-trainou/IMG/UserFiles/Images/CeC/2017/0d31f4a19cbb5d0e1973fe46054fc653-1.jpg" class="customer-img" /></li>
        <li><img alt="DB Schenker" src="http://www.veloepli.fr/public/img/big/geodis.jpg" class="customer-img" /></li>
      </ul>
    </div>
  </div>
</div>


