<div class="legal_mention">
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>Legal Mention</h1>
      <div class="blabla">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, incidunt fuga et ea, laborum omnis alias laboriosam nobis recusandae natus esse consequuntur atque eum temporibus error tempora debitis cum, explicabo?
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, odio delectus quae illo! Quae aliquam esse voluptate! Harum aliquam doloremque, totam quis officiis, aspernatur tenetur non, quod velit soluta esse!
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae maiores reiciendis iste amet voluptas ipsum eum odio ipsa labore similique praesentium, inventore, id aperiam rem eos vel consectetur, accusamus harum.
        </p>
      </div>
    </div>
  </div>
</div>
