.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 25vh;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  // padding-top: 50px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}

.searchbar {
  h2 {
  color: white;
  margin-top: 15vh;
  }
}

#banner-with-search-bar {
  margin-top: 30px;
  background-color: white;
  border: solid $orange 4px;
  font-weight: lighter;
  border-radius: 50px;
  margin-left: 30%;
  margin-right: 30%;
  padding-right: 2%;
  padding-left: 2%;
  height: 7vh;
  display: flex;
  input#q {
    border: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  input#q:focus {
  outline-width: 0;
  }
  .btn-search-bar-home {
  background-color: white;
  color: $orange;
  border-left: solid 4px $orange;
  }
  .btn-search-bar-home:hover{
  font-weight: bold;
  }
}

// #banner-with-search-bar {
//   background-color: white;
//   border-radius: 50px;
//   box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
//   padding: 0;
//   width: 200px;
//   height: 40px;

//   display: flex;
//   align-items: center;

//   input#q {
//     border: black solid 0px;
//     // p h3 h2 h1 {
//     //   color-text: $orange;
//     // }
//     padding-top: 8px;
//     background-color: rgba(0, 0, 0, 0);
//     padding-left: 15px;
//   }

//   input#q:focus {
//     outline-width: 0;
//     color: black;
//   }
// }

