.btn-medium {
  // color: $orange;
  color: white;
  border: 3px solid $orange;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  border: 4px solid $orange;
  color: $orange;
}

.book {
  color: black;
  background-color: #F4F4F4;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */
