.search-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 59px;
  right: 0;
  left: 0;
  z-index: 500;
  background-color: $light-gray;
  margin-bottom: 5px;
}

.search-title {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding: 72px 10%;
  position: fixed;
  width: 100%;
  margin-top: 72px;
}

.cards-container {
  // display: flex; /* WE DON'T WANT A FLEWBOX HERE */
  // align-items: stretch; /* force items to take all flexbox height */
  // flex-wrap: wrap;

  margin-right: 25px;
  margin-top: 10px;
  width: 100%;
  a:hover {
    text-decoration : none;
  }
  overflow: scroll;
  height: calc(100vh - 203px);
}

.card-index {
  background-color: white;
  padding: 20px 25px 20px 25px;
  margin: 0 0 10px 0;

  width: 100%;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.4);
  color: $gray;
  font-size: 16px;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);

  // display: flex; /* HERE WE WANT A FLEWBOX BECAUSE WE ARE USING DEPLAY */
  // align-items: center;
  display: grid;
  grid-template-column: 80% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card-index:hover {
  opacity: 0.8;
  color: $orange;
}

.storehouse-name {
  // flex: 0 0 20%;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.storehouse-addresse {
  // flex: 0 0 auto;
  // flex-grow: 1;
  // padding-left: 10px;
  grid-row: 3 / span 2;
  grid-column: 1 / span 1;
}

.storehouse-capacity {
  // flex: 0 0 15%;
  // text-align: right;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: right;
}

.storehouse-day-price {
  // flex: 0 0 10%;
  // text-align: right;
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  text-align: right;
}

// CONFLICT LOST SELECTOR
  // display: flex;
  // text-align: center;
  // justify-content: space-evenly;
  // flex-direction: row;

  input#q {
    border: black solid 0px;
    // p h3 h2 h1 {
    //   color-text: $orange;
    // }
    padding-top: 8px;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 15px;
  }

  input#q:focus {
    outline-width: 0;
    color: black;
  }





































