<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for([ @storehouse, @review ]) do |form| %>
      <%= form.input :rating, collection: 1..5 %>
      <%= form.input :content, as: :text %>
      <%= form.button :submit %>
    <% end %>
  </div>
</div>
